.services {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

.services-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.services-col {
    flex-basis: 50%;
    padding: 30px 15px;
}

.services-col p {
    padding: 15px 0 25px;
}

.services-col img {
    width: 100%;
}

@media (max-width: 1080px) {
    .services-row {
        flex-direction: column;
    }
}
