.location {
    width: 80%;
    margin: auto;
    padding: 0 0 100px;
}

.location iframe {
    width: 100%;
    border-radius: 5px;
}

.contact {
    width: 80%;
    margin: auto;
}

.contact-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.contact-col {
    flex-basis: 50%;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-col span {
    display: inline-block;
}

.contact-col i, .contact-col p {
    font-size: 1em;
    transition: 0.5s;
}

.contact-col div .contact-icons {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 10px;
    color: var(--soft-black);
}

.contact-col form {
    margin-right: 50px;
    margin-bottom: 50px;
}

.contact-col input {
    font-size: 15px;
}

.contact-col input, .contact-col textarea {
    width: 100%;
    outline: none;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid var(--soft-blue);
}

#submit-status {
    opacity: 0;
    font-size: 30px;
    display: inline;
    transition: 0.5s;
}

@media (max-width: 700px) {
    .contact-col input, .contact-col textarea {
        width: 120%;
    }
    .contact-row {
        flex-direction: column;
    }
}
