.location {
    width: 80%;
    margin: auto;
    padding: 0 0 100px;
}

.location iframe {
    width: 100%;
    border-radius: 5px;
}

.contact {
    width: 80%;
    margin: auto;
}

.contact-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.contact-col {
    flex-basis: 50%;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-col span {
    display: inline-block;
}

.contact-info {
    margin-top: 15px;
}
.contact-col i, .contact-col p {
    font-size: 1em;
    transition: 0.5s;
}

.contact-col div .contact-icons {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 10px;
    color: var(--soft-black);
}

.contact-col form {
    margin: 0 50px 50px 0;
}

.contact-col input, .contact-col textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.1s;
    box-sizing: border-box;
    border: 1px solid var(--soft-black);
}

#submit-status {
    opacity: 0;
    font-size: 30px;
    display: inline;
    transition: 0.5s;
}

.form-label {
    top: 35px;
    left: 20px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
    color: var(--soft-grey);
    text-transform: capitalize;
}

@media (max-width: 700px) {
    .contact-col input, .contact-col textarea {
        padding: 15px;
        width: 120%;
    }
    .contact-row {
        flex-direction: column;
    }
    .form-label {
        top: 40px;
        left: 20px;
        position: relative;
        transition: all 0.5;
    }
}
