.location {
    width: 80%;
    margin: auto;
    padding: 0 0 100px;
}

.location iframe {
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--black-shadow);
    border: 1px solid var(--soft-black);
}

.iframe-link {
    display: inline-block;
    position: absolute;
    height: 600px;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0; 
}

.contact {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header h1 {
    font-size: 2em;
    white-space: nowrap;
    color: var(--soft-black);
}

.form-header p {
    white-space: nowrap;
    color: var(--soft-blue);
}

/* .header-line {
    height: 1px;
    display: block; 
    width: 230px !important;
    background: var(--soft-grey);
} */

.contact-line {
    width: 1px;
    height: 450px;
    margin: 30px 0 0 120px;
    background: var(--soft-grey);
}

.contact-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.contact-col {
    flex-basis: 50%;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-col span {
    display: inline-block;
}

.contact-col i, .contact-col p {
    font-size: 20px;
    transition: 0.5s;
}

.contact-col div .contact-icons {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 10px;
    color: var(--soft-black);
}

.contact-text {
    transition: all 0.1s;
}

.contact-text::after {
    content: '';
    width: 0;
    height: 2px;
    margin: 4px auto;
    display: block;
    transition: 0.5s;
    background: var(--soft-grey);
}

.contact-text:hover::after {
    width: 100%;
}

.contact-text:hover {
    color: var(--soft-blue);
}

.contact-col form {
    margin: 0 50px 50px 0;
}

textarea {
    resize: none;
    overflow: auto;
}

.contact-col input, .contact-col textarea {
    width: 110%; 
    outline: none;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all 0.1s;
    box-sizing: border-box;
    box-shadow: var(--black-shadow);
    border: 1px solid var(--soft-black);
}

#phone, #email {
    direction: ltr;
}

#name, #message {
    direction: rtl;
}

.contact-info {
    margin: 25px 60px;
}

.contact-info a {
    margin-left: 20px;
    white-space: nowrap;
}

.contact-info p {
    margin-left: 10px;
    white-space: nowrap;
}

#submit-status {
    opacity: 0;
    font-size: 30px;
    display: inline;
    transition: 0.5s;
}

.form-label {
    top: 35px;
    float: right;
    cursor: text;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
    left: 35px !important;
    color: var(--soft-grey);
    text-transform: capitalize;
}

#submit-form {
    width: 110%;
    margin-top: 15px;
    cursor: not-allowed;
}

/* .form-input + .asterisk::after {
    content: '*';
    right: 22px;
    bottom: 44px;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    color: var(--soft-red);
} */

@media (max-width: 1600px) {
    #submit-form, .contact-col input, .contact-col textarea {
        width: 120%;
    }
    .modal-body #submit-form,
    .modal-body .form-input {
        width: 110%;
    }
    .form-label {
        left: 15% !important;
    }
    .modal-body .form-label {
        left: 7% !important;
    }
}

@media (max-width: 1100px) {
    #submit-form, .contact-col input, .contact-col textarea {
        width: 110%;
        padding: 15px;
    }
    .modal-body #submit-form,
    .modal-body .form-input {
        margin-left: 5px;
    }
    .contact {
        padding-top: 30px;
    }
    .contact h1 {
        font-size: 25px;
    }
    .contact > p {
        font-size: 15px;
    }
    .contact-row {
        flex-direction: column;
    }
    .form-label {
        top: 37px;
        font-size: 15px;
        left: 7% !important;
    }
    .contact-info {
        margin-left: -5px;
    }
    .contact-line {
        margin: 25px 0 50px;
        width: 100%;
        height: 1px;
    }
    .modal-body .form-label {
        left: 8% !important;
    }
}

.modal-body-phone {
    font-size: 17px;
    font-weight: 600;
    color: var(--soft-black);
    padding: 0 1px 0 1px;
    transition: 0.5s;
}

.modal-body-phone:hover {
    color: var(--soft-blue);
}

.fb-page {
    margin: -50px 0 0 30px;
}

@media (max-width: 500px) {
    #submit-form, .contact-col input, .contact-col textarea {
        width: 120%;
    }
    .contact-col i, .contact-col p {
        font-size: 15px;
    }
    .form-label {
        left: 15% !important;
    }
}

@media (max-width: 320px) {
    .contact h1 {
        font-size: 20px;
    }
    .contact-col i,
    .contact-col p,
    .contact>p {
        font-size: 12px;
    }
}