.location {
    width: 80%;
    margin: auto;
    padding: 0 0 100px;
}

.location iframe {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--soft-black);
}

.contact {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header h1 {
    font-size: 2em;
}

.form-header p {
    color: var(--soft-blue);
}

.header-line {
    height: 1px;
    width: 225px;
    display: block; 
    background: var(--soft-grey);
}

.contact-line {
    width: 1px;
    height: 370px;
    margin: 30px 0 0 120px;
    background: var(--soft-grey);
}

.contact-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.contact-col {
    flex-basis: 50%;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-col span {
    display: inline-block;
}

.contact-col i, .contact-col p {
    font-size: 20px;
    transition: 0.5s;
}

.contact-col div .contact-icons {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 10px;
    color: var(--soft-black);
}

.contact-col form {
    margin: 0 50px 50px 0;
}

textarea {
    resize: none;
    overflow: auto;
}

.contact-col input, .contact-col textarea {
    width: 110%;
    outline: none;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.1s;
    box-sizing: border-box;
    border: 1px solid var(--soft-black);
    box-shadow: 0 4px 2px -2px var(--soft-black);
}

#phone, #email {
    direction: ltr;
}

#name, #message {
    direction: rtl;
}

.contact-info {
    margin: 25px 60px;
}

.contact-info a {
    margin-left: 20px;
    white-space: nowrap;
}

.contact-info p {
    margin-left: 10px;
    white-space: nowrap;
}

#submit-status {
    opacity: 0;
    font-size: 30px;
    display: inline;
    transition: 0.5s;
}

.form-label {
    top: 35px;
    left: 40px;
    float: right;
    cursor: text;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
    color: var(--soft-grey);
    text-transform: capitalize;
}

#submit-form {
    width: 110%;
    margin-top: 15px;
    cursor: not-allowed;
}

/* .form-input + .asterisk::after {
    content: '*';
    right: 22px;
    bottom: 44px;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    color: var(--soft-red);
} */

@media (max-width: 1600px) {
    #submit-form, .contact-col input, .contact-col textarea {
        width: 120%;
    }
}

@media (max-width: 1100px) {
    #submit-form, .contact-col input, .contact-col textarea {
        padding: 15px;
        width: 115%;
    }
    .contact {
        padding-top: 30px;
    }
    .contact h1 {
        font-size: 25px;
    }
    .contact > p {
        font-size: 15px;
    }
    .contact-row {
        flex-direction: column;
    }
    .form-label {
        top: 37px;
        font-size: 15px;
        left: 10% !important;
    }
    .contact-info {
        margin-left: -5px;
    }
    .contact-line {
        margin: 0;
        width: 105%;
        height: 1px;
    }
    .header-line {
        width: 225px;
    }
}

@media (max-width: 500px) {
    #submit-form, .contact-col input, .contact-col textarea {
        width: 120%;
    }
    .contact-col i, .contact-col p {
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .contact h1 {
        font-size: 20px;
    }
    .contact-col i, .contact-col p, .contact > p {
        font-size: 12px;
    }
}
