.location {
    width: 80%;
    margin: auto;
    padding: 0 0 100px;
}

.location iframe {
    width: 100%;
    border-radius: 5px;
}

.contact {
    width: 80%;
    margin: auto;
}

.contact-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.contact-col {
    flex-basis: 50%;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-col span {
    display: inline-block;
}

.contact-info {
    font-size: 20px;
    margin-top: 15px;
}

.contact-col i, .contact-col p {
    font-size: 20px;
    transition: 0.5s;
}

.contact-col div .contact-icons {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 10px;
    color: var(--soft-black);
}

.contact-col form {
    margin: 0 50px 50px 0;
}

textarea {
    resize: none;
    overflow: auto;
}

.contact-col input, .contact-col textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.1s;
    box-sizing: border-box;
    border: 1px solid var(--soft-black);
}

#submit-status {
    opacity: 0;
    font-size: 30px;
    display: inline;
    transition: 0.5s;
}

.form-label {
    top: 35px;
    left: 20px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
    color: var(--soft-grey);
    text-transform: capitalize;
}

form .hero-btn {
    margin-top: 15px;
}

#submit-form {
    cursor: not-allowed;
}

/* modal */

.modal {
    top: 50%;
    left: 50%;
    width: 500px;
    z-index: 9999;
    max-width: 80%;
    position: fixed;
    border-radius: 5px;
    transition: all 0.5s;
    background: var(--soft-white);
    border: 2px solid var(--soft-blue);
    transform: translate(-50%, -50%) scale(0);
}

.modal.active {
    transform: translate(-50%, -50%) scale(1) rotate(-360deg);
}

.modal-header {
    display: flex;
    padding: 10px 25px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--soft-blue);
}

.modal-header .modal-close {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    transition: 0.5s;
    background: none;
}

.modal-close:hover {
    color: var(--soft-red);
    transform: rotate(360deg)
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 999;
    position: fixed;
    pointer-events: none;
    transition: all 0.5s;
    backdrop-filter: blur(5px);
    background: var(--soft-black-background);
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* .form-input + .asterisk::after {
    content: '*';
    right: 22px;
    bottom: 44px;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    color: var(--soft-red);
} */

@media (max-width: 900px) {
    .contact-col input, .contact-col textarea {
        padding: 15px;
        width: 110%;
    }
    .contact-row {
        flex-direction: column;
    }
    .form-label {
        top: 40px;
        left: 20px;
        position: relative;
        transition: all 0.5;
    }
    .form-label {
        font-size: 15px;
    }
    /* .form-input + .asterisk::after {
        bottom: 50px;
    } */
}