:root {
    --soft-white: aliceblue;
    --soft-red: rgb(210, 60, 60);
    --soft-black: rgb(15, 15, 15);
    --soft-blue: rgb(35, 170, 222);
    --soft-green: rgb(35, 210, 65);
    --soft-yellow: rgb(250, 205, 5);
    --soft-orange: rgb(255, 125, 80);
    --soft-dark-blue: rgb(65, 120, 235);
    --soft-blue-background: rgba(35, 170, 222, 0.4);
    --soft-black-background: rgba(14, 14, 14, 0.4);
    --soft-white-background: rgba(255, 255, 255, 0.2);
    --white-blue-gradient: -webkit-linear-gradient(85deg, var(--soft-white), var(--soft-blue));
}

body {
    scroll-behavior: smooth;
    background: var(--soft-white);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Lato', sans-serif;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--soft-blue);
}

.stop-scrolling {
    overflow: hidden !important;
}

p {
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: var(--soft-black);
}

a {
    text-decoration: none;
}

.gradient-text-no-hover {
    background: var(--white-blue-gradient);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px var(--soft-white-background);
}

.gradient-text {
    background: var(--white-blue-gradient);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text:hover {
    animation: shine 1s;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.fadeIn {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.header {
    width: 100%;
    min-height: 100vh;
    transition: all 1s;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        var(--soft-black-background),
        var(--soft-black-background)
    ), url(/images/main-cover.jpg);
}

.sub-header {
    width: 100%;
    height: 70vh;
    transition: all 1s;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: var(--soft-white);
    background-image: linear-gradient(
        var(--soft-black-background),
        var(--soft-black-background)
    ), url(/images/sub-cover.jpg);
}

/* HERO */

.text-box {
    width: 90%;
    position: absolute;
    text-align: center;
    color: var(--soft-white);
    text-transform: capitalize;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.text-box h1 {
    font-size: 5rem;
}

.text-box p {
    font-size: 2rem;
    margin: 10px 0 40px;
    color: var(--soft-white);
}

.hero-btn {
    font-size: 2rem;
    padding: 15px 35px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    background: transparent;
    color: var(--soft-white);
    border: 1px solid var(--soft-white);
    backdrop-filter: blur(10px);
    text-transform: capitalize;
    transition: all 0.5s;
    cursor: pointer;
}

.hero-btn:hover {
    color: var(--soft-white);
    background: var(--soft-blue);
}

.btn-blue {
    background: transparent;
    color: var(--soft-blue);
    border: 1px solid var(--soft-blue);
}

@media(max-width: 770px) {
    .text-box h1 {
        font-size: 3rem;
    } 
    .hero-btn, .text-box p {
        font-size: 1.5rem;
    }
}

@media(max-width: 500px) {
    .text-box h1 {
        font-size: 2.5rem;
    } 
    .hero-btn, .text-box p {
        font-size: 1rem;
    }
}

/* courses */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.course h1 {
    font-size: 2em;
    font-weight: bold;
}

.course h2 {
    margin: 10px 0;
    font-weight: 600;
    text-align: center;
}

.course-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 30%;
    margin-bottom: 5%;
    padding: 20px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
    background: var(--white-blue-gradient);
}

.course-col:hover {
    box-shadow: 0 10px 10px 0 var(--soft-black-background);
}

/* campus */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.campus-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.campus-col {
    flex-basis: 30%;
    margin-bottom: 5%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    transition: 0.5s;
}

.layer:hover {
    background: var(--soft-blue-background);
}

.layer h2 {
    left: 50%;
    bottom: 0;
    opacity: 0;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    position: absolute;
    color: var(--soft-white);
    text-transform: capitalize;
    transform: translateX(-50%);
    transition: 0.5s;
}

.layer:hover h2 {
    opacity: 1;
    bottom: 50%;
}

/* facilities */

.fac {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.fac-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.fac-col {
    flex-basis: 30%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.fac-col img {
    width: 100%;
    border-radius: 10px;
}

.fac-col h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

/* testimonials */

.testi {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testi-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.testi-col {
    padding: 10px;
    display: flex;
    flex-basis: 45%;
    margin-bottom: 5%;
    border-radius: 10px;
    text-align: left !important;
    background: var(--soft-blue-background);
    text-align: center;
}   

.testi-col img {
    height: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testi-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testi-col .fas, .testi-col .far {
    color: var(--soft-black);
    margin-top: 15px;
}

/* action */

.action {
    width: 80%;
    margin: 100px auto;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    background-image: linear-gradient(
        var(--soft-black-background),
        var(--soft-black-background)
    ), url(/images/banner2.jpg);
}

.action h1 {
    padding: 0;
    margin-bottom: 40px;
    color: var(--soft-white);
}

/* popup */

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 999;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    transition: all 1s;
    backdrop-filter: blur(5px);
    background: var(--soft-black-background);
}

.overlay:target {
    opacity: 1;
    visibility: visible;
}

.popup {
    width: 40%;
    bottom: 5%;
    padding: 20px;
    margin: 70px auto;
    border-radius: 5px;
    transition: all 1s;
    position: relative;
    flex-direction: column;
    background: var(--soft-white);
    border: 2px solid var(--soft-blue);
}

.popup h2, .popup p {
    margin-top: 0;
    line-height: 1;
    text-align: center;
    transition: all 1s;
    color: var(--soft-black);
}

.popup .close-popup {
    top: 0;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    transition: all 1s;
    text-decoration: none;
    color: var(--soft-black);
}

.popup .close-popup:hover {
    color: var(--soft-red);
}

.popup .content-popup {
    flex-direction: column;
    margin-bottom: -40px;
    overflow: auto;
    
}

@media (max-width: 1250px) {
    .sub-header {
        height: 50vh;
    }
}

@media (max-width: 700px) {
    .sub-header {
        height: 40vh;
    }
    .contact-row,
    .course-row, 
    .campus-row,
    .testi-row,
    .fac-row {
        flex-direction: column;
    }
    .testi-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
    .popup p {
        font-size: 20px !important;
    }
}
