:root {
    --soft-white: aliceblue;
    --soft-black: rgb(15, 15, 15);
    --soft-blue: rgb(35, 170, 222);
    --soft-black-background: rgba(14, 14, 14, 0.4);
    --soft-white-background: rgba(255, 255, 255, 0.2);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Lato', sans-serif;
}

*::-webkit-scrollbar {
    width: 0.10rem;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--soft-blue);
}

.stop-scrolling {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden !important;
}

.gradient-text-no-hover {
    background: -webkit-linear-gradient(45deg, var(--soft-white), var(--soft-blue));
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px var(--soft-white-background);
}

.gradient-text {
    background: -webkit-linear-gradient(-85deg, var(--soft-blue), var(--soft-white));
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text:hover {
    animation: shine 1s;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.header {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        var(--soft-black-background),
        var(--soft-black-background)
    ), url(/images/cover.png);
}


/* HERO */

.text-box {
    width: 90%;
    position: absolute;
    text-align: center;
    color: var(--soft-white);
    text-transform: capitalize;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 50%;
}

.text-box h1 {
    font-size: 5rem;
}

.text-box p {
    font-size: 2rem;
    margin: 10px 0 40px;
    color: var(--soft-white);
}

.hero-btn {
    font-size: 2rem;
    padding: 15px 35px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    background: transparent;
    color: var(--soft-white);
    border: 1px solid var(--soft-white);
    text-transform: capitalize;
    transition: all 0.5s;
    cursor: pointer;
}

.hero-btn:hover {
    color: var(--soft-white);
    background: var(--soft-blue);
}

@media(max-width: 770px) {
    .text-box h1 {
        font-size: 3rem;
    } 
    .hero-btn, .text-box p {
        font-size: 1.5rem;
    }
}

@media(max-width: 500px) {
    .text-box h1 {
        font-size: 2.5rem;
    } 
    .hero-btn, .text-box p {
        font-size: 1rem;
    }
}

/* MAIN */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1 {
    font-size: 2em;
    font-weight: bold;
}

.course p {
    padding: 10px;
    font-size: 1em;
    font-weight: 300;
    line-height: 20px;
    color: var(--soft-black);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */





















