:root {
    --soft-white: aliceblue;
    --soft-black: rgb(15, 15, 15);
    --soft-blue: rgb(35, 170, 222);
    --soft-black-background: rgba(15, 15, 15, 0.5);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

*::-webkit-scrollbar {
    width: 0.10rem;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--soft-blue);
}

.header {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        var(--soft-black-background),
        var(--soft-black-background)
    ), url(/images/cover.png);
}


/* HERO */

.text-box {
    width: 90%;
    position: absolute;
    text-align: center;
    color: var(--soft-white);
    text-transform: capitalize;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.text-box h1 {
    font-size: 5rem;
}

.text-box p {
    font-size: 2rem;
    margin: 10px 0 40px;
    color: var(--soft-white);
}

.hero-btn {
    font-size: 2rem;
    padding: 15px 35px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    background: transparent;
    color: var(--soft-white);
    border: 1px solid var(--soft-white);
    text-transform: capitalize;
    transition: 0.5s;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: var(--soft-blue);
    color: var(--soft-white);
}

@media(max-width: 770px) {
    .text-box h1 {
        font-size: 3rem;
    } 
    .hero-btn, .text-box p {
        font-size: 1.5rem;
    }
}


/* MAIN */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1 {
    font-size: 2em;
    font-weight: bold;
}

.course p {
    padding: 10px;
    font-size: 1em;
    font-weight: 300;
    line-height: 20px;
    color: var(--soft-black);
}


























